appdirs==1.4.0
appnope==0.1.0
chardet==2.3.0
decorator==4.0.11
Django==1.10.5
django-bootstrap3==8.1.0
django-crispy-forms==1.6.1
-e git://github.com/django-guardian/django-guardian@ccc88dadddba3900b8b18ce83eb6b24e05efef96#egg=django_guardian
django-userena==2.0.1
easy-thumbnails==2.3
html2text==2014.12.29
ipython==5.1.0
ipython-genutils==0.1.0
olefile==0.44
packaging==16.8
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.0.0
prompt-toolkit==1.0.9
psycopg2==2.6.2
ptyprocess==0.5.1
Pygments==2.2.0
pyparsing==2.1.10
pytest-runner==2.10.1
pytz==2016.10
setuptools-scm==1.15.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.1
wcwidth==0.1.7
