{% extends "hitarget/base.html" %}

{% load bootstrap3 %}
{% load static %}
{% block headercontent %}
<h1>Supprimez le</h1>
{% endblock %}

{% block maincontent %}
<div>
    <!--by default, the associated action view is the same as the rendering, but with data sent within the POST request-->
    <form action="" method="POST">
        {% csrf_token %}
        Êtes vous sûr ?
    <p>
        <input type="submit" class="btn btn-danger pull-right" value="Confirmer!">

    </form>
</div>

<!--<form action="/leads/add" method="post">-->
<!--{{ add_lead_form.as_p }}-->
<!--{% csrf_token %}-->
<!--<p><input type="submit" value="Poster ce lead"></p>-->
<!--</form>-->
<!--</div>-->

{% endblock %}