{% extends "hitarget/base.html" %}
{% block headercontent %}
{% if request.user.username != "" %}
<h1>Hello {{ request.user | title }}!</h1><hr/>

{% else %}
<h1>Vous êtes nouveau? </h1>
<h3>Pour tout le reste, c'est <a href="{% url 'login' %}">par ici</a></h3>
<hr/>

{% endif %}
{% endblock %}



{% block maincontent %}
    <div class="row">
{% include "hitarget/components/welcome.html" %}
     {% for lead in leads %}
        {{lead}}
     {% endfor %}
        {% include "hitarget/components/tips.html" %}
        {% include "hitarget/components/sample_stats.html" %}
</div>
   {% endblock %}

