<div class="col-xs-12 col-sm-12 col-md-6 col-l-6 col-xl-4">
    <div class="panel panel-success">
        <div class="panel-heading">
            Vendu!
        </div>
        <div class="panel-body">

            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object avatar" src="http://127.0.0.1:8000/media/users/2017/04/02/hussein.png" alt="Image">
                </a>
                <div class="media-body">
                    <p>Arthur G. souhaite acquérir votre lead "Parc d'impression réseau"</p>
                </div>
            </div>

        </div>
        <div>
            <small class="pull-left date">&nbsp;Le mardi 12.02.20017</small>
        </div>
        <div class="btn-group btn-group-sm pull-right" role="group" aria-label="...">
            <button type="button" class="btn btn-default">Refuser</button>
            <a href="#" class="btn btn-danger">Accepter</a>
        </div>
        <div class="clearfix"></div>
    </div>

</div>


<div class="col-xs-12 col-sm-12 col-md-6 col-l-6 col-xl-4">
    <div class="panel panel-warning">
        <div class="panel-heading">
            Votre lead "Infrastructure HP" ne s'est pas vendu
        </div>
        <div class="panel-body">Malheuresement, aucun des 373 visiteurs n'a voulu l'acquérir</div>
        <div>
            <small class="pull-left date">&nbsp;Il y a 3 jours</small>
        </div>
        <div class="btn-group btn-group-sm pull-right" role="group" aria-label="...">
            <button type="button" class="btn btn-default">Dommage...</button>
            <a href="#" class="btn btn-danger">Relancer!</a>
        </div>
        <div class="clearfix"></div>

    </div>


</div>


<div class="col-xs-12 col-sm-12 col-md-6 col-l-6 col-xl-4">
    <div class="panel panel-info">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-signal"></i>&nbsp; De nouvelles visites sur vos leads!
        </div>
        <div class="panel-body">
            Depuis le 10.02.2017 :
            <table class="table">
                <thead>
                <tr>
                    <th>Lead</th>
                    <th>Visites</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="#">Fiches réseaux</a></td>
                    <td>+23 <i class="glyphicon glyphicon-fire"></i></td>
                </tr>
                <tr>
                    <td><a href="#">Imprimantes design</a></td>
                    <td>+3</td>
                </tr>
                </tbody>
            </table>


        </div>
        <div class="btn-group btn-group-sm pull-right" role="group" aria-label="...">
            <a href="#" class="btn btn-danger">Voir plus de stats</a>
        </div>
        <div class="clearfix"></div>


    </div>
</div>