<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-l-6 col-xl-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Les 6 règles d'or pour des leads qui partent
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, esse hic maiores nobis numquam placeat rem voluptatem. Atque eos error ex impedit ipsum modi non quibusdam recusandae! A commodi, illum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti laboriosam placeat sapiente. Ad cum debitis eligendi incidunt ipsa ipsam laboriosam nam quaerat? Ad animi, cumque dolorum numquam ratione sunt tempora.
            </div>

            </div>
        </div>
        <div>
            <small class="pull-left date">&nbsp;{{lead.relative_date}}</small>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

