{% load static %}
<div class="col-xs-12 col-sm-12 col-md-6 col-l-6 col-xl-4">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title pull-left">Les 6 règles d'or pour des leads qui partent</h3>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object avatar" width="60px" src="{% get_media_prefix %}/smart_user.jpg"
                         alt="arthur-g-avatar"/>

                </a>
                <div class="media-body">
                    <h4 class="media-heading">Quelques conseils!</h4>
                    <p>À votre avis, qu'est ce qui fait que des leads partent et d'autres non? L'avis de Yacine B.,
                        directeur commercial chez ... </p>
                </div>
            </div>
        </div>
        <div>
            <small class="pull-left date">&nbsp;Aujourd'hui</small>
        </div>
        <div class="btn-group btn-group-sm pull-right" role="group" aria-label="...">
            <!--<button type="button" class="btn btn-default">-->
                <!--<i class="glyphicon glyphicon-remove"></i>-->
            <!--</button>-->
            <!--<button type="button" class="btn btn-default">-->
                <!--<i class="glyphicon glyphicon-heart-empty"></i>-->
            <!--</button>-->
            <a href="/leads/tips" class="btn btn-info btn-xs pull-right">Voir plus</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
