<div class="col-xs-12 col-sm-12 col-md-6 col-l-6 col-xl-4">
    <div class="panel panel-info">
        <div class="panel-heading">On fait quoi?</div>
        <div class="panel-body">
            Bienvenu sur HiTarget! Voudriez-vous:
            <ul>
                <li><a href="/account/dashboard/">Rajoutez des infos sur votre compte</a></li>
                <li><a >Comprendre le principe</a></li>
                <li><a href="/leads/add">Postez votre premier lead ! </a></li>
                <li><a >Déterminez vos secteurs d'activités et nous laisser vous trouvez des leads</a></li>
                <li><a >Utilisez la barre de recherche pour trouver des leads</a></li>
            </ul>

        </div>

    </div>
</div>