{% extends "hitarget/base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block headercontent %}
<h2>Connectez-vous...<br/> et rejoignez-nous !</h2><hr/>
{% endblock %}



{% block maincontent %}
{% if form.errors %}
       <p>
   Oups, on ne parvient pas à trouver votre compte. Êtes-vous sûr de vos identifiants ?
       </p>
     {% else %}
<h4>Sinon, vous pouvez aussi <a href="{% url "register" %}">créer un compte</a></h4>
{% endif %}
<form action="." method="post">
              {% bootstrap_form form %}

       {% csrf_token %}
           <p>
        <input type="hidden" name="next" value="{{ next }}" />
        <input type="submit" class="btn btn-primary pull-right" value="Go!">

     </form>
<a href="#">Help, j'ai oublié mon mot de passe!</a>
   {% endblock %}

